.check_expense{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;

        .title{
            font-size: 48px;
        }
    
        .line{
            height: 2px;
            width: 40%;
            background-color: white;
            border: 1px;
            border-radius: 20px;
        }

        .list-expense{
            margin-top: 20px;
            padding: 10px;
            width: 100%;
            align-items: center;
            text-align: center;
            justify-content: center;
            align-content: center;

            .expense{
                height: auto;
                padding: 10px;
                width: 100%;
                margin: 20px;
                border: solid 1px white;
                border-radius: 10px;
                box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
                align-items: center;
                justify-content: center;
            }

            .expense-amount{
                width: 100%;
                font-size: 40px;
            }

            .Icons{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                // align-items: center;
                // text-align: center;
                

                .date{
                    height: 100%;
                    padding-top: 10px;
                    text-align: center;
                    justify-content: center;
                }

                .edit-icon{
                    height: 30px;
                    width: 30px;
                    margin-left: 5px;
                    margin-right: 5px;
                    cursor: pointer;
                }
            }
        }

    }
}

.collapse-button{
    background: transparent;
    border: none;
}

.update-form{
    // padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button{
        height: 40px;
        text-align: center;
        
        .text{
            height: 100%;
            text-align: center;
            align-items: center;
            padding-top: 5px;

        }
    }
}

